{% extends "menu.html" %}

{% block pagename %}Игры{% endblock %}

{% block content %}
    <h2>Доступные Игры</h2>
    <div class="games-list">
        {% for game in games %}
            <div class="game-item">
                <h3>{{ game }}</h3>
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button type="submit">Купить</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}